---
title: Carousel
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Carousel</h1>

      <h2>Example</h2>
      <section class="example">
        <div class="thumb-carousel" data-toggle="thumb-carousel">
          <a class="control prev" href="#prev-group">&lt;</a>
          <div class="viewport">
            <ul class="overview">
              <li><%= image_tag "3a4b2132cdefc03527223d707a6a5ce6bffc.jpeg" %></li>
              <li><%= image_tag "2gyvxv7un50t1ugzlekekp7femlfyjw9jsyt.jpeg" %></li>
              <li><%= image_tag "57vtufdyzphay5b72oqkx1v1jaf9c0ij3m5t.jpeg" %></li>
              <li><%= image_tag "sev4g2sz71w53z3mxbq239i5dxh5wlisz3c8.jpeg" %></li>
              <li><%= image_tag "uain347k1jpuhc83m3u3qz3eqjrb1v6bk4xw.jpeg" %></li>
              <li><%= image_tag "3a4b2132cdefc03527223d707a6a5ce6bffc.jpeg" %></li>
              <li><%= image_tag "2gyvxv7un50t1ugzlekekp7femlfyjw9jsyt.jpeg" %></li>
              <li class="active"><%= image_tag "57vtufdyzphay5b72oqkx1v1jaf9c0ij3m5t.jpeg" %></li>
              <li><%= image_tag "sev4g2sz71w53z3mxbq239i5dxh5wlisz3c8.jpeg" %></li>
              <li><%= image_tag "uain347k1jpuhc83m3u3qz3eqjrb1v6bk4xw.jpeg" %></li>
              <li><%= image_tag "3a4b2132cdefc03527223d707a6a5ce6bffc.jpeg" %></li>
              <li><%= image_tag "2gyvxv7un50t1ugzlekekp7femlfyjw9jsyt.jpeg" %></li>
              <li><%= image_tag "57vtufdyzphay5b72oqkx1v1jaf9c0ij3m5t.jpeg" %></li>
              <li><%= image_tag "sev4g2sz71w53z3mxbq239i5dxh5wlisz3c8.jpeg" %></li>
              <li><%= image_tag "uain347k1jpuhc83m3u3qz3eqjrb1v6bk4xw.jpeg" %></li>
            </ul>
          </div>
          <a class="control next" href="#next-group">&gt;</a>
        </div>
      </section>


    </div>

  </div>
</div>
