---
title: Forms
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Form</h1>

      <h2>Basic example</h2>
      <section class="example">
        <%= partial "shared/form", :locals => { :type => nil } %>
      </section>

<% code "html" do %>
<%= partial "shared/form", :locals => { :type => nil } %>
<% end -%>

      <h2>Inline form</h2>
      <section class="example">
        <%= partial "shared/form_inline" %>
      </section>
<% code "html" do %>
<%= partial "shared/form_inline" %>
<% end %>

      <h2>Horizontal form</h2>
      <section class="example">
        <%= partial "shared/form", :locals => { :type => "horizontal offset two" } %>
      </section>
<% code "html" do %>
<%= partial "shared/form", :locals => { :type => "horizontal offset two" } %>
<% end %>

      <h2>Static text</h2>
      <p>When you need to place plain text next to a form label within a horizontal form, use the <code>.static</code> class on a <code>&lt;p&gt;</code>.</p>
      <section class="example">
        <form class="horizontal offset two">
          <div class="field">
            <label for="email">Email</label>
            <p class="static">email@example.com</p>
          </div>

          <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password">
          </div>
        </form>
      </section>
<% code "html" do %>
<form class="horizontal offset two">
  <div class="field">
    <label for="email">Email</label>
    <p class="static">email@example.com</p>
  </div>

  <div class="field">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password">
  </div>
</form>
<% end -%>

      <h2>Disabled fieldsets</h2>
      <section class="example">
        <form class="horizontal offset two">
          <fieldset disabled>
            <div class="field">
              <label for="email-disabled-fieldsets">Email</label>
              <input type="email" name="email" id="email-disabled-fieldsets" placeholder="Email" />
            </div>

            <div class="field">
              <label for="password">Password</label>
              <input type="password" id="password" placeholder="Password">
            </div>

            <div class="field">
              <label for="gender-disabled-fieldsets">Gender</label>
              <select id="gender-disabled-fieldsets">
                <option>Select gender</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>

            <div class="field">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </fieldset>
        </form>
      </section>
<% code "html" do %>
<form class="horizontal offset two">
  <fieldset disabled>
    <div class="field">
      <label for="email-disabled-fieldsets">Email</label>
      <input type="email" name="email" id="email-disabled-fieldsets" placeholder="Email" />
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Password">
    </div>

    <div class="field">
      <label for="gender-disabled-fieldsets">Gender</label>
      <select id="gender-disabled-fieldsets">
        <option>Select gender</option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>

    <div class="field">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </fieldset>
</form>
<% end -%>

      <h2>Validation states</h2>
      <section class="example">
        <form>
          <div class="field success">
            <label for="text-success">Input with success</label>
            <input type="text" name="success" id="text-success" />
          </div>

          <div class="field warning">
            <label for="text-warning">Input with warning</label>
            <input type="text" name="warning" id="text-warning" />
          </div>

          <div class="field error">
            <label for="text-error">Input with error</label>
            <input type="text" name="error" id="text-error" />
          </div>
        </form>
      </section>
<% code "html" do %>
<form>
  <div class="field success">
    <label for="text-success">Input with success</label>
    <input type="text" name="success" id="text-success" />
  </div>

  <div class="field warning">
    <label for="text-warning">Input with warning</label>
    <input type="text" name="warning" id="text-warning" />
  </div>

  <div class="field error">
    <label for="text-error">Input with error</label>
    <input type="text" name="error" id="text-error" />
  </div>
</form>
<% end -%>

      <h2>With optional icons</h2>
      <section class="example">
        <form>
          <div class="field success feedback">
            <label for="text-success">Input with success</label>
            <input type="text" name="success" id="text-success" />
            <i class="icon lightbulb-o"></i>
          </div>

          <div class="field warning feedback">
            <label for="text-warning">Input with warning</label>
            <input type="text" name="warning" id="text-warning" />
            <i class="icon warning"></i>
          </div>

          <div class="field error feedback">
            <label for="text-error">Input with error</label>
            <input type="text" name="error" id="text-error" />
            <i class="icon times"></i>
          </div>
        </form>
      </section>
<% code "html" do %>
<form>
  <div class="field success feedback">
    <label for="text-success">Input with success</label>
    <input type="text" name="success" id="text-success" />
    <i class="icon lightbulb-o"></i>
  </div>

  <div class="field warning feedback">
    <label for="text-warning">Input with warning</label>
    <input type="text" name="warning" id="text-warning" />
    <i class="icon warning"></i>
  </div>

  <div class="field error feedback">
    <label for="text-error">Input with error</label>
    <input type="text" name="error" id="text-error" />
    <i class="icon times"></i>
  </div>
</form>
<% end -%>

    <section class="example">
      <form class="horizontal offset three">
        <div class="field success feedback">
          <label for="text-success">Input with success</label>
          <input type="text" name="success" id="text-success" />
          <i class="icon lightbulb-o"></i>
        </div>

        <div class="field warning feedback">
          <label for="text-warning">Input with warning</label>
          <input type="text" name="warning" id="text-warning" />
          <i class="icon warning"></i>
        </div>

        <div class="field error feedback">
          <label for="text-error">Input with error</label>
          <input type="text" name="error" id="text-error" />
          <i class="icon times"></i>
        </div>
      </form>
    </section>

    <section class="example">
      <form class="inline">
        <label for="text-success">Input with success</label>
        <div class="field success feedback">
          <input type="text" name="success" id="text-success" />
          <i class="icon lightbulb-o"></i>
        </div>
      </form>
    </section>

    </div>

  </div>
</div>
