---
title: Forms
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Form</h1>

      <h2>Basic example</h2>
      <section class="example">
        <%= partial "shared/form", :locals => { :type => nil } %>
      </section>

<% code "html" do %>
<%= partial "shared/form", :locals => { :type => nil } %>
<% end -%>

      <h2>Inline form</h2>
      <section class="example">
        <%= partial "shared/form_inline" %>
      </section>
<% code "html" do %>
<%= partial "shared/form_inline" %>
<% end %>

      <h2>Horizontal form</h2>
      <section class="example">
        <%= partial "shared/form", :locals => { :type => "horizontal offset two" } %>
      </section>
<% code "html" do %>
<%= partial "shared/form", :locals => { :type => "horizontal offset two" } %>
<% end %>

      <h2>Static text</h2>
      <p>When you need to place plain text next to a form label within a horizontal form, use the <code>.static</code> class on a <code>&lt;p&gt;</code>.</p>
      <section class="example">
        <form class="horizontal offset two">
          <div class="field">
            <label for="email">Email</label>
            <p class="static">email@example.com</p>
          </div>

          <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password">
          </div>
        </form>
      </section>
<% code "html" do %>
<form class="horizontal offset two">
  <div class="field">
    <label for="email">Email</label>
    <p class="static">email@example.com</p>
  </div>

  <div class="field">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password">
  </div>
</form>
<% end -%>
    </div>

  </div>
</div>
