---
title: Forms
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Form</h1>

      <h2>Basic example</h2>
      <section class="example">
        <%= partial "shared/form", :locals => { :type => nil } %>
      </section>

<% code "html" do %>
<%= partial "shared/form", :locals => { :type => nil } %>
<% end -%>

      <h2>Inline form</h2>
      <section class="example">
        <%= partial "shared/form_inline" %>
      </section>
<% code "html" do %>
<%= partial "shared/form_inline" %>
<% end %>

      <h2>Horizontal form</h2>
      <section class="example">
        <%= partial "shared/form", :locals => { :type => "horizontal offset two" } %>
      </section>
<% code "html" do %>
<%= partial "shared/form", :locals => { :type => "horizontal offset two" } %>
<% end %>
    </div>

  </div>
</div>
