---
title: Slider
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Slider</h1>

      <h2>Basic Slider</h2>
      <section class="example">

        <section class="slider">
          <div class="flexslider">
            <ul class="slides">
              <li><%= image_tag "3a4b2132cdefc03527223d707a6a5ce6bffc-xlarge.jpeg" %></li>
              <li><%= image_tag "2gyvxv7un50t1ugzlekekp7femlfyjw9jsyt-xlarge.jpeg" %></li>
              <li><%= image_tag "57vtufdyzphay5b72oqkx1v1jaf9c0ij3m5t-xlarge.jpeg" %></li>
              <li><%= image_tag "sev4g2sz71w53z3mxbq239i5dxh5wlisz3c8-xlarge.jpeg" %></li>
              <li><%= image_tag "uain347k1jpuhc83m3u3qz3eqjrb1v6bk4xw-xlarge.jpeg" %></li>
            </ul>
          </div>
        </section>

      </section>

    </div>

  </div>
</div>
