<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Mice" %></title>

    <%= stylesheet_link_tag "doc" %>

    <%= javascript_include_tag  "doc" %>

    <%= yield_content :assets %>
  </head>

  <body class="<%= "#{page_classes}-page" -%>">

    <nav class="topbar">
      <!-- <ul class="menu"> -->
        <!-- <li><a href="/grid.html">Grid</a></li> -->
      <!-- </ul> -->
    </nav>

    <nav class="navbar">
      <div class="container">
        <div class="logo">
          <a href="/" class="brand">Mice</a>
        </div>

        <% nav_page_classes = page_classes.split.first %>

        <ul class="menu">
          <li class="<%= "active" if nav_page_classes == "elements" -%>">
            <a href="/elements">Elements</a>
          </li>

          <li class="dropdown <%= "active" if nav_page_classes == "grids" -%>">
            <a href="/grids">Grid</a>
            <ul class="menu">
              <li><a href="/grids#two-columns">Two columns</a></li>
              <li><a href="/grids#three-columns">Three columns</a></li>
              <li><a href="/grids#four-columns">Four columns</a></li>
              <li><a href="/grids#five-columns">Five columns</a></li>
              <li><a href="/grids#six-columns">Six columns</a></li>
              <li><a href="/grids#seven-columns">Seven columns</a></li>
              <li><a href="/grids#eight-columns">Eight columns</a></li>
              <li><a href="/grids#nine-columns">Nine columns</a></li>
              <li><a href="/grids#ten-columns">Ten columns</a></li>
              <li><a href="/grids#eleven-columns">Eleven columns</a></li>
              <li><a href="/grids#twelve-columns">Twelve columns</a></li>
            </ul>
          </li>

          <li class="<%= "active" if nav_page_classes == "icons" -%>">
            <a href="/icons">Icons</a>
          </li>

          <li class="<%= "active" if nav_page_classes == "components" -%>">
            <a href="/components">Components</a>
          </li>

          <!--
          <li class="<%= "active" if nav_page_classes == "mobile" -%>">
            <a href="/mobile">Mobile</a>
          </li>
          -->
        </ul>

        <ul class="menu righted">
          <li><a href="https://github.com/miclle/mice"><i class="icon github"></i> Github</a></li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <footer>
      <div class="container">
        <p>Mice was lovingly crafted by  <a href="http://twitter.com/miclle" target="_blank"><i class="icon twitter"></i> @miclle</a></p>
        <p>Code licensed under <a href="https://github.com/miclle/mice/blob/master/LICENSE" target="_blank">MIT</a>.</p>
        <ul>
          <li><%= "Currently v#{Mice::VERSION}" -%></li>
          <li><a href="https://github.com/miclle/mice"><i class="icon github"></i> Mice</a></li>
        </ul>
      </div>
    </footer>

  </body>
</html>