---
title: Images
---

<div class="container">

  <div class="grid twelve">

    <div class="column three">

      <%= partial "shared/sidebar" %>

    </div>

    <div class="column nine doc">

      <h1 class="title">Images</h1>

      <h2>Responsive images</h2>
      <section class="example">
        <%= image_tag "defoliation.jpeg", :class => "responsive" %>
        <div>
          Photographer: <%= link_to "<small>@chummy</small>", "http://miclle.com/photo/41", :target => "_blank" %>
        </div>
      </section>
<% code "html" do %>
<%= image_tag "defoliation.jpeg", :class => "responsive", :alt => "Defoliation" %>
<% end -%>


      <h2>Image shapes</h2>
      <section class="example">
        <%= image_tag "b2df5944204470358e5e8ea086a16a2b8e1c.jpeg", :class => "rounded", :alt => "Rounded" %>
        <%= image_tag "f78d490e23e56501adda00c7876037aef422.jpeg", :class => "circle", :alt => "Circle" %>
        <%= image_tag "3a4b2132cdefc03527223d707a6a5ce6bffc.jpeg", :class => "thumbnail", :alt => "Thumbnail" %>
        <div>
          Photographer:
          <%= link_to "<small>@lxneng</small>", "http://miclle.com/photo/34", :target => "_blank" %>
          <%= link_to "<small>@kaka</small>", "http://miclle.com/photo/28", :target => "_blank" %>
          <%= link_to "<small>@miclle</small>", "http://miclle.com/photo/1", :target => "_blank" %>
        </div>
      </section>
<% code "html" do %>
<%= image_tag "b2df5944204470358e5e8ea086a16a2b8e1c.jpeg", :class => "rounded", :alt => "Rounded" %>
<%= image_tag "f78d490e23e56501adda00c7876037aef422.jpeg", :class => "circle", :alt => "Circle" %>
<%= image_tag "3a4b2132cdefc03527223d707a6a5ce6bffc.jpeg", :class => "thumbnail", :alt => "Thumbnail" %>
<% end -%>


      <h2>Fluid images</h2>
      <section class="example">
        <%= image_tag "b62a0a54fbed94d91e3d66328b783a811b47.jpeg", :class => "fluid" %>
        <div>
          Photographer: <%= link_to "<small>@chummy</small>", "http://miclle.com/photo/41", :target => "_blank" %>
        </div>
      </section>
<% code "html" do %>
<%= image_tag "b62a0a54fbed94d91e3d66328b783a811b47.jpeg", :class => "fluid", :alt => "Defoliation" %>
<% end -%>


      <h2>Disabled images</h2>
      <section class="example">
        <%= image_tag "b62a0a54fbed94d91e3d66328b783a811b47.jpeg", :class => "disabled responsive" %>
        <div>
          Photographer: <%= link_to "<small>@chummy</small>", "http://miclle.com/photo/41", :target => "_blank" %>
        </div>
      </section>
<% code "html" do %>
<%= image_tag "b62a0a54fbed94d91e3d66328b783a811b47.jpeg", :class => "disabled responsive", :alt => "Defoliation" %>
<% end -%>


      <h2>Thumbnail Captions</h2>
      <section class="example">
        <div class="thumbnail">
          <%= image_tag "b2df5944204470358e5e8ea086a16a2b8e1c.jpeg" %>
          <div class="caption">Simple Caption</div>
        </div>
      </section>
<% code "html" do %>
<div class="thumbnail">
  <%= image_tag "b2df5944204470358e5e8ea086a16a2b8e1c.jpeg" %>
  <div class="caption">Simple Caption</div>
</div>
<% end -%>

      <h3>Animation effect</h3>
      <p>Say good bye to jQuery plugins. Today, we can create similar image caption effect only with CSS3. This demo shows how this effects runs.</p>
      <section class="example">
        <div class="thumbnail simple">
          <%= image_tag "b2df5944204470358e5e8ea086a16a2b8e1c.jpeg" %>
          <div class="caption">Simple Caption</div>
        </div>

        <div class="thumbnail full">
          <%= image_tag "f78d490e23e56501adda00c7876037aef422.jpeg" %>
          <div class="caption">
            <h3>Full Caption</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>

        <div class="thumbnail fade">
          <%= image_tag "3a4b2132cdefc03527223d707a6a5ce6bffc.jpeg" %>
          <div class="caption">
            <h3>Fade Caption</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>

        <div class="thumbnail slide">
          <%= image_tag "2gyvxv7un50t1ugzlekekp7femlfyjw9jsyt.jpeg" %>
          <div class="caption">
            <h3>Slide Caption</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>

        <div class="thumbnail rotate">
          <%= image_tag "57vtufdyzphay5b72oqkx1v1jaf9c0ij3m5t.jpeg" %>
          <div class="caption">
            <h3>This is rotate caption</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>

        <div class="thumbnail scale">
          <%= image_tag "e3d0b7199492261ba8991f3d9cd7b30f5f3c.jpeg" %>
          <div class="caption">
            <h3>Scale Caption</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </section>
<% code "html" do %>
<div class="thumbnail simple">
  <img src="xxx.jpg" />
  <div class="caption">Simple Caption</div>
</div>

<div class="thumbnail full">
  <img src="xxx.jpg" />
  <div class="caption">...</div>
</div>

<div class="thumbnail fade">
  <img src="xxx.jpg" />
  <div class="caption">...</div>
</div>

<div class="thumbnail slide">
  <img src="xxx.jpg" />
  <div class="caption">...</div>
</div>

<div class="thumbnail rotate">
  <img src="xxx.jpg" />
  <div class="caption">...</div>
</div>

<div class="thumbnail scale">
  <img src="xxx.jpg" />
  <div class="caption">...</div>
</div>
<% end -%>


    </div>

  </div>
</div>
