---
title: Images
---

<div class="container">

  <div class="grid twelve">

    <div class="column three">

      <%= partial "shared/sidebar" %>

    </div>

    <div class="column nine doc">

      <h1 class="title">Images</h1>

      <h2>Responsive images</h2>
      <section class="example">
        <%= image_tag "defoliation.jpeg", :class => "responsive" %>
        <div>
          Photographer: <%= link_to "<small>@chummy</small>", "http://miclle.com/photo/41", :target => "_blank" %>
        </div>
      </section>
<% code "html" do %>
<%= image_tag "defoliation.jpeg", :class => "responsive", :alt => "Defoliation" %>
<% end -%>


      <h2>Image shapes</h2>
      <section class="example">
        <%= image_tag "b2df5944204470358e5e8ea086a16a2b8e1c.jpeg", :class => "rounded", :alt => "Rounded" %>
        <%= image_tag "f78d490e23e56501adda00c7876037aef422.jpeg", :class => "circle", :alt => "Circle" %>
        <%= image_tag "3a4b2132cdefc03527223d707a6a5ce6bffc.jpeg", :class => "thumbnail", :alt => "Thumbnail" %>
        <div>
          Photographer:
          <%= link_to "<small>@lxneng</small>", "http://miclle.com/photo/34", :target => "_blank" %>
          <%= link_to "<small>@kaka</small>", "http://miclle.com/photo/28", :target => "_blank" %>
          <%= link_to "<small>@miclle</small>", "http://miclle.com/photo/1", :target => "_blank" %>
        </div>
      </section>
<% code "html" do %>
<%= image_tag "b2df5944204470358e5e8ea086a16a2b8e1c.jpeg", :class => "rounded", :alt => "Rounded" %>
<%= image_tag "f78d490e23e56501adda00c7876037aef422.jpeg", :class => "circle", :alt => "Circle" %>
<%= image_tag "3a4b2132cdefc03527223d707a6a5ce6bffc.jpeg", :class => "thumbnail", :alt => "Thumbnail" %>
<% end -%>


      <h2>Fluid images</h2>
      <section class="example">
        <%= image_tag "b62a0a54fbed94d91e3d66328b783a811b47.jpeg", :class => "fluid" %>
        <div>
          Photographer: <%= link_to "<small>@chummy</small>", "http://miclle.com/photo/41", :target => "_blank" %>
        </div>
      </section>
<% code "html" do %>
<%= image_tag "b62a0a54fbed94d91e3d66328b783a811b47.jpeg", :class => "fluid", :alt => "Defoliation" %>
<% end -%>


      <h2>Disabled images</h2>
      <section class="example">
        <%= image_tag "b62a0a54fbed94d91e3d66328b783a811b47.jpeg", :class => "disabled responsive" %>
        <div>
          Photographer: <%= link_to "<small>@chummy</small>", "http://miclle.com/photo/41", :target => "_blank" %>
        </div>
      </section>
<% code "html" do %>
<%= image_tag "b62a0a54fbed94d91e3d66328b783a811b47.jpeg", :class => "disabled responsive", :alt => "Defoliation" %>
<% end -%>

    </div>

  </div>
</div>
