<% suffix = "inline #{type}" %>

<form class="inline<%= " #{type}" unless type.blank? -%>">
  <div class="field">
    <label for="email-<%= suffix -%>">Your email</label>
    <input type="email" name="email" id="email-<%= suffix -%>" placeholder="Email" />
  </div>

  <div class="field">
    <label for="password-<%= suffix -%>">Password</label>
    <input type="password" id="password-<%= suffix -%>" placeholder="Password" />
  </div>

  <div class="field checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>

  <div class="field">
    <button type="submit">Send Message</button>
  </div>
</form>