<% suffix = (type || "basic").split().join("-") %>

<form <%= "class=\"#{type}\"" unless type.blank?  -%>>
  <div class="field">
    <label for="name-<%= suffix -%>">Your name *</label>
    <input type="text" name="name" id="name-<%= suffix -%>" placeholder="Name" />
  </div>

  <div class="field">
    <label for="email-<%= suffix -%>">Your email *</label>
    <input type="email" name="email" id="email-<%= suffix -%>" placeholder="Email" />
  </div>

  <div class="field">
    <label for="phone-<%= suffix -%>">Your phone *</label>
    <input type="text" name="phone" id="phone-<%= suffix -%>" placeholder="Phone" />
  </div>

  <div class="field">
    <label for="password-<%= suffix -%>">Password</label>
    <input type="password" id="password-<%= suffix -%>" placeholder="Password">
  </div>

  <div class="field">
    <label for="gender-<%= suffix -%>">Gender</label>
    <select id="gender-<%= suffix -%>">
      <option>Select gender</option>
      <option>Male</option>
      <option>Female</option>
    </select>
  </div>

  <div class="field">
    <label for="file-<%= suffix -%>">File input</label>
    <input type="file" id="file-<%= suffix -%>">
    <p class="hint">This is hint text here.</p>
  </div>

  <div class="field checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>

  <div class="field">
    <label for="message-<%= suffix -%>">Your message *</label>
    <textarea name="message" id="message-<%= suffix -%>" cols="30" rows="5" placeholder="Message..." /></textarea>
  </div>

  <div class="field">
    <button type="submit">Send Message</button>
  </div>
</form>