<% sidebar_page_class = page_classes.split.last %>

<nav class="sidebar">
  <ul class="menu">

    <li class="heading"><a href="/elements">Elements</a></li>

    <li class="<%= "active" if sidebar_page_class == "elements_typography" -%>">
      <a href="/elements/typography.html">Typography</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "elements_code" -%>">
      <a href="/elements/code.html">Code</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "elements_buttons" -%>">
      <a href="/elements/buttons.html">Buttons</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "elements_input" -%>">
      <a href="/elements/input.html">Input</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "elements_images" -%>">
      <a href="/elements/images.html">Images</a>
    </li>

    <li class="heading"><a href="/icons">Icons</a></li>

    <li class="heading"><a href="/helper">Helper classes</a></li>

    <li class="heading"><a href="/grids">Grid</a></li>

    <li class="heading"><a href="/components">Components</a></li>

    <li class="<%= "active" if sidebar_page_class == "components_labels" -%>">
      <a href="/components/labels.html">Labels</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_lists" -%>">
      <a href="/components/lists.html">Lists</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_tables" -%>">
      <a href="/components/tables.html">Tables</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_forms" -%>">
      <a href="/components/forms.html">Forms</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_navbar" -%>">
      <a href="/components/navbar.html">Navbar</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_tabs" -%>">
      <a href="/components/tabs.html">Tabs</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_panels" -%>">
      <a href="/components/panels.html">Panels</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_breadcrumbs" -%>">
      <a href="/components/breadcrumbs.html">Breadcrumbs</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_pagination" -%>">
      <a href="/components/pagination.html">Pagination</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_progress" -%>">
      <a href="/components/progress.html">Progress</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_media" -%>">
      <a href="/components/media.html">Media</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_alerts" -%>">
      <a href="/components/alerts.html">Alerts</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_callouts" -%>">
      <a href="/components/callouts.html">Callouts</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_timeline" -%>">
      <a href="/components/timeline.html">Timeline</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_modals" -%>">
      <a href="/components/modals.html">Modals</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_tooltips" -%>">
      <a href="/components/tooltips.html">Tooltips</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_message" -%>">
      <a href="/components/message.html">Message</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_slider" -%>">
      <a href="/components/slider.html">Slider</a>
    </li>

    <li class="<%= "active" if sidebar_page_class == "components_carousel" -%>">
      <a href="/components/carousel.html">Carousel</a>
    </li>

  </ul>
</nav>